.menu {
    text-transform: uppercase;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__item {
        margin: 0 2px;
    }

    &__link {
        transition: color 0.5s ease-out;
        font-size: 16px;
        padding: 0 20px;
        color: #fff;
        position: relative;
        
        &::after {
            content: '';
            transition: all 0.5s ease-out;
            display: block;
            position: absolute;
            width: 50%;
            left: 25%;
            height: 3px;
            background: #fce38a;
            top: 40px;
            opacity: 0;
        }
        &:hover {
            color: #fce38a;
            &::after {
                top: 30px;
                opacity: 1;
            }
        }
    }

}
