.blog {
    padding-bottom: 115px;
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        flex-basis: 30%;
    }
}

@media screen and (max-width: 1240px) {
    .blog {
        &__list {
            flex-wrap: wrap;
            align-items: center;
        }
        &__item {
            flex-basis: 100%;
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
        .post {
            width: 400px;
        }
    }
}

@media screen and (max-width: 401px) {
    .blog {
        .post {
            width: auto;
        }
    }
}